.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px minmax(300px, 1fr) 100px;
  grid-gap: 10px;
  grid-template-areas:
  "header header header"
  "article article article"
  "footer footer footer";
}

header{
  grid-area: header;
}

article{
  grid-area: article;
}

footer{
  grid-area: footer;
}
